<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">
                <img src="images/meng.jpg" alt="Profile Picture" class="profile-picture">
            </a>
            <ul class="navbar-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="/todo" class="nav-link ">Todo</a></li>
                
            </ul>
            <ul class="navbar-signout">
                <li><a href="/login" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
        <h1 class="hero-title">Welcome to PetShop!</h1>
        <p class="hero-description">Selamat Datang di PetShop!</p>
        <a href="/contact" class="hero-btn">Contact Page</a>
    </div>

    <!-- Section Tambahan -->
    <div class="features">
        <div class="feature">
            <img src="images/meng2.jpg" alt="Welcome" class="feature-img">
            <h3>Ras Kucing</h3>
            <p>Jenis Kucing Apa Yang Kamu Sukai?</p>
        </div>
        <div class="feature">
            <img src="images/meng5.jpg" alt="Todo List" class="feature-img">
            <h3>Todo List</h3>
            <p>Tambahkan data kucing yang anda ingin kan</p>
        </div>
        <div class="feature">
            <img src="images/insta.jpg" alt="Contact" class="feature-img">
            <h3>Hubungi Kami</h3>
            <p>Hubungi kami!</p>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="container">
            <p>© Copyright 2024 Blluenight</p>
        </div>
    </footer>

</body>
</html>